body {
  display: flex;
  background-color: antiquewhite;
  position: fixed;
  flex-direction: column;
  right: 25%;
  top: 12%;
  /* align-items: center; */
}
main {
  position: relative;
  top: 10%;
  display: flex;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 550px;
  
  height: fit-content;
}
.right {
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  padding: 25px;
}
img {
  height: 27rem;
  margin: fit-content;
  border-radius: 5px 0px 0px 5px;
}
h1{
  font-family: ;
}
.cart-section{
  background-color: rgba(0, 128, 38, 0.527);
  display: flex;
  right: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  right: 2px;
  width: 245px;
  border-radius: 10px;
  color: white;
}
.money{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  position: relative;
  bottom: 8px;
}
h1{
  color: darkgreen;
}